.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(18, 175, 236);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(17, 1, 1);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Loto',sans-serif;
}

.navbar {
  
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #cedb12;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.br-rez {
  
  color: rgb(14, 1, 1);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.svi-filmovi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-left: 5px;
 
  margin-right: 100px;
  margin-left: 50px;
  
  
}

.film {
  border-style: groove;
  border-width: 5px;
  border-color: rgb(32, 184, 158);
  border-radius: 10px;
  margin-bottom: 50px;
  max-width: 210px;
  
  margin-inline-start: 100px;
  
  margin: 10;
  
}

.card-img-top {
  height: 200px;
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.film-body {
  margin: 10px;
}

.dugme {
  background-color: cornflowerblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rezervacije {
  display: grid;
  justify-content: space-between;
  margin: 20px;
  
}

.film-fil {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 900px;
}
.roditelj div{
  width: 30%;
  margin: 50px;
  
  
}
.roditelj{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.imag{
  border-radius: 15px;
  width: 500px;
  height: 300px;
  margin: 10px;
  border:3px;
  
}

